.env
.venv*/
.vscode/
.pytest_cache/
tasks.txt

*egg-info/
**/mlruns/
**/mlartifacts/
**/__pycache__/
**/prototyping.ipynb
**/build/
**/*losses.jpg
**/vectorstore/

src/lib/assets/images/products/
src/server/logs/
src/client/node_modules/
src/client/.next/
src/client/out/
src/client/scss/
src/client/next-env.d.ts