.env
.venv/
.vscode/
.pytest_cache/
**/__pycache__/
**/prototyping.ipynb
tasks.txt

*egg-info/
**/build/
src/lib/assets/images/
src/server/logs/
src/client/node_modules/
src/client/.next/
src/client/out/
src/client/scss/